.product-block{
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  .photos-block{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .arrow-up{
      transform: rotate(-90deg);
      margin-bottom: 3%;
    }
    .photos-item{
      padding: 1px 1px;
      width: 100px;
      height: 100px;
      margin-bottom: 5%;
      border: 3px solid #c4c4c4;
      object-fit: cover;
    }
    .arrow-down{
      transform: rotate(90deg);
    }
  }
  .big-photo{
    width: 40%;
    height: 500px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .description-block{
    width: 40%;
    .product-name{
      margin-bottom: 7%;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: #474A51;
    }
    .splitter{
      width: 100%;
      margin-bottom: 3%;
    }
    .product-description{
      margin-bottom: 5%;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #474A51;
    }
    .product-info{
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      grid-row-gap: 3%;
      .info-item{
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #62666c;
      }
    }
  }
}
.offers__block{
  margin-left: 2%;
  margin-bottom: 5%;
  display: flex;
  width: 95%;
  .offers{
    width: 60%;
    margin-right: 5%;
    .offer__card{
      margin-left: 4%;
      margin-bottom: 2%;
      border: 1px solid #cbc7c7;
      box-shadow: 3px 5px 10px #c9c6c6;
      border-radius: 10px;
      width: 95%;
      height: 85px;
      display: flex;
      align-items: center;
      padding: 0.6%;
      transition: .3s ease-in-out;
      .info__img{
        object-fit: scale-down;
        width: 10%;
      }
      .card__details{
        margin-left: 3%;
        display: flex;
        width: 60%;
        justify-content: space-between;
        .card__info{
          .info__name{
            font-weight: 600;
            font-size: 15px;
          }
          .info__rank{
            margin-top: 5%;
            font-weight: 400;
            font-size: 15px;
          }
        }
        .product__info{
          width: 45%;
          .details__price{
            display: flex;
            margin-bottom: 3%;
            .price__title{
              font-weight: 400;
              font-size: 16px;
            }
            .price__number{
              font-weight: 600;
              font-size: 16px;
              margin-left: 5%;
            }
          }
          .details__quantity{
            display: flex;
            margin-bottom: 3%;
            .quantity__title{
              font-weight: 400;
              font-size: 16px;
            }
            .quantity__value{
              font-weight: 600;
              font-size: 16px;
              margin-left: 5%;
            }
          }
          .details__delivery{
            display: flex;
            align-items: center;
            .delivery__title{
              font-weight: 400;
              font-size: 16px;
            }
            .delivery__img{
              object-fit: scale-down;
              width: 9%;
              margin-left: 5%;
            }
          }
        }
      }
      .card__button{
        margin-left: 10%;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 17px;
        background: #15616D;
        transition: .1s ease-in-out;
      }
      .card__button:hover{
        cursor: pointer;
        font-size: 18px;
      }
    }
    .offer__card:hover{
      width: 97%;
      box-shadow: 3px 3px 5px #c9c6c6;
      background: rgba(227, 227, 227, 0.41);
    }
  }
  .order__block{
    width: 50%;
    min-height: 320px;
    border: 1px solid #cbc7c7;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #c9c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #62666c;
    .order__container{
      .order__title{
        margin-left: 37%;
        font-weight: 600;
        font-size: 20px;
        color: #15616D;
      }
      .order__info{
        margin-left: 5%;
        margin-top: 5%;
        .info__seller{
          width: 50%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0 0;
          grid-template-areas:
            "avatar name name"
            "avatar phone phone";
          .seller__avatar{
            grid-area: avatar;
            object-fit: scale-down;
            width: 70%;
          }
          .seller__name{
            grid-area: name;
            width: 200%;
            font-weight: 600;
            font-size: 18px;
          }
          .seller__phone{
            margin-top: -5%;
            grid-area: phone;
            font-weight: 400;
            font-size: 16px;
          }
        }
        .product__details{
          display: grid;
          margin-top: 2%;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
           "image name name"
           "quantity delivery delivery";
          .details__img{
            grid-area: image;
            object-fit: scale-down;
            width: 40%;
          }
          .details__name{
            grid-area: name;
            width: 200%;
            margin-top: 5%;
            margin-left: -25%;
            font-weight: 400;
            font-size: 18px;
          }
          .details__quantity{
            grid-area: quantity;
            .quantity__title{
              font-weight: 600;
              font-size: 16px;
            }
            .quantity__input{
              margin-top: 4%;
              padding-left: 4%;
              border: 1px solid #b7b7b7;
              border-radius: 5px;
              background: rgba(177, 177, 177, 0.15);
              width: 25%;
              height: 30px;
              outline: none;
            }
          }
          .details__delivery{
            margin-left: 10%;
            grid-area: delivery;
            width: 90%;
            .delivery__title{
              font-weight: 600;
              font-size: 16px;
            }
            .delivery__menu{
              .delivery__input{
                margin-right: 4%;
              }
              .delivery__label{
                font-size: 17px;
              }
              input[type='radio']:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #d1d3d1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
              }

              input[type='radio']:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #15616D;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
              }
            }
          }
          .delivery__button{
            grid-area: button;
            width: 100px;
            height: 50px;
            border-radius: 8px;
            box-shadow: 3px 5px 7px #b2b1b1;
            margin-left: -30%;
            margin-top: -45%;
            background: #15616D;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 16px;
            transition: .1s ease-in-out;
          }
          .delivery__button:hover{
            cursor: pointer;
            font-size: 17px;
          }
        }
      }
    }
  }
}

