.product-block {
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
}
.product-block .photos-block {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-block .photos-block .arrow-up {
  transform: rotate(-90deg);
  margin-bottom: 3%;
}
.product-block .photos-block .photos-item {
  padding: 1px 1px;
  width: 100px;
  height: 100px;
  margin-bottom: 5%;
  border: 3px solid #c4c4c4;
  object-fit: cover;
}
.product-block .photos-block .arrow-down {
  transform: rotate(90deg);
}
.product-block .big-photo {
  width: 40%;
  height: 500px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.product-block .big-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-block .description-block {
  width: 40%;
}
.product-block .description-block .product-name {
  margin-bottom: 7%;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #474A51;
}
.product-block .description-block .splitter {
  width: 100%;
  margin-bottom: 3%;
}
.product-block .description-block .product-description {
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #474A51;
}
.product-block .description-block .product-info {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-row-gap: 3%;
}
.product-block .description-block .product-info .info-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #62666c;
}

.offers__block {
  margin-left: 2%;
  margin-bottom: 5%;
  display: flex;
  width: 95%;
}
.offers__block .offers {
  width: 60%;
  margin-right: 5%;
}
.offers__block .offers .offer__card {
  margin-left: 4%;
  margin-bottom: 2%;
  border: 1px solid #cbc7c7;
  box-shadow: 3px 5px 10px #c9c6c6;
  border-radius: 10px;
  width: 95%;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0.6%;
  transition: 0.3s ease-in-out;
}
.offers__block .offers .offer__card .info__img {
  object-fit: scale-down;
  width: 10%;
}
.offers__block .offers .offer__card .card__details {
  margin-left: 3%;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.offers__block .offers .offer__card .card__details .card__info .info__name {
  font-weight: 600;
  font-size: 15px;
}
.offers__block .offers .offer__card .card__details .card__info .info__rank {
  margin-top: 5%;
  font-weight: 400;
  font-size: 15px;
}
.offers__block .offers .offer__card .card__details .product__info {
  width: 45%;
}
.offers__block .offers .offer__card .card__details .product__info .details__price {
  display: flex;
  margin-bottom: 3%;
}
.offers__block .offers .offer__card .card__details .product__info .details__price .price__title {
  font-weight: 400;
  font-size: 16px;
}
.offers__block .offers .offer__card .card__details .product__info .details__price .price__number {
  font-weight: 600;
  font-size: 16px;
  margin-left: 5%;
}
.offers__block .offers .offer__card .card__details .product__info .details__quantity {
  display: flex;
  margin-bottom: 3%;
}
.offers__block .offers .offer__card .card__details .product__info .details__quantity .quantity__title {
  font-weight: 400;
  font-size: 16px;
}
.offers__block .offers .offer__card .card__details .product__info .details__quantity .quantity__value {
  font-weight: 600;
  font-size: 16px;
  margin-left: 5%;
}
.offers__block .offers .offer__card .card__details .product__info .details__delivery {
  display: flex;
  align-items: center;
}
.offers__block .offers .offer__card .card__details .product__info .details__delivery .delivery__title {
  font-weight: 400;
  font-size: 16px;
}
.offers__block .offers .offer__card .card__details .product__info .details__delivery .delivery__img {
  object-fit: scale-down;
  width: 9%;
  margin-left: 5%;
}
.offers__block .offers .offer__card .card__button {
  margin-left: 10%;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 17px;
  background: #15616D;
  transition: 0.1s ease-in-out;
}
.offers__block .offers .offer__card .card__button:hover {
  cursor: pointer;
  font-size: 18px;
}
.offers__block .offers .offer__card:hover {
  width: 97%;
  box-shadow: 3px 3px 5px #c9c6c6;
  background: rgba(227, 227, 227, 0.41);
}
.offers__block .order__block {
  width: 50%;
  height: 320px;
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #62666c;
}

/*# sourceMappingURL=index.css.map */
