.account__content{
  display: flex;
  margin-top: 2%;
  .content__navbar{
    width: 20%;
    min-height: 400px;
    border: 1px solid gray;
    padding-left: 3%;
    .siteNav{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .siteNav__main{
        font-weight: 300;
        font-size: 16px;
        color: #767c76;
      }
      .siteNav__dot{
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background: #767c76;
      }
      .siteNav__current{
        font-weight: 600;
        font-size: 16px;
      }
    }
    .nav__split{
      width: 80%;
    }
    .nav__title{
      font-weight: 600;
      font-size: 18px;
      margin-top: 3%;
      cursor: pointer;
    }
    .nav__list{
      margin-top: 5%;
      margin-left: 3%;
      .list__item{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 17px;
        margin-top: 4%;
        transition: .5s ease-in-out;
        cursor: pointer;
        height: 40px;
      }
      .active{
        display: flex;
        align-items: center;
        padding-left: 10%;
        height: 40px;
        font-size: 18px;
        background: #15616D;
        color: #FFFFFF;
        transition: .5s ease-in-out;
      }
    }
  }
  .content__main{
    width: 50%;
    min-height: 400px;
    border: 1px solid gray;
    div{
      input{
        outline: none;
        height: 40px;
        border: 1px solid gray;
        cursor: pointer;
      }
    }
  }
  .content__user{
    width: 30%;
    min-height: 400px;
    border: 1px solid gray;
  }
}
