.account__content {
  display: flex;
  margin-top: 2%;
}
.account__content .content__navbar {
  width: 20%;
  min-height: 400px;
  padding-left: 3%;
}
.account__content .content__navbar .siteNav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account__content .content__navbar .siteNav .siteNav__main {
  font-weight: 300;
  font-size: 16px;
  color: #767c76;
}
.account__content .content__navbar .siteNav .siteNav__dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #767c76;
}
.account__content .content__navbar .siteNav .siteNav__current {
  font-weight: 600;
  font-size: 16px;
}
.account__content .content__navbar .nav__split {
  width: 80%;
}
.account__content .content__navbar .nav__title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 3%;
  cursor: pointer;
}
.account__content .content__navbar .nav__list {
  margin-top: 5%;
  margin-left: 3%;
}
.account__content .content__navbar .nav__list .list__item {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  height: 40px;
}
.account__content .content__navbar .nav__list .active {
  display: flex;
  align-items: center;
  padding-left: 10%;
  height: 40px;
  font-size: 18px;
  background: #15616D;
  color: #FFFFFF;
  transition: 0.5s ease-in-out;
}
.account__content .content__main {
  padding-top: 3%;
  width: 55%;
  min-height: 400px;
}
.account__content .content__main div {
  margin-left: 8%;
  margin-bottom: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  grid-template-areas: "title . ." "input input input";
}
.account__content .content__main div input {
  margin-top: 2%;
  margin-right: 15%;
  outline: none;
  height: 40px;
  border: none;
  border-bottom: 1px solid #dcdbdb;
  cursor: pointer;
}
.account__content .content__main div ::-webkit-input-placeholder {
  color: #bebdbd;
}
.account__content .content__main div h2 {
  grid-area: title;
  margin-top: 5%;
}
.account__content .content__main div .checkbox__block {
  display: flex;
  align-items: center;
  width: 90%;
}
.account__content .content__main div .checkbox__block input {
  width: 8%;
}
.account__content .content__main div .checkbox__block label {
  margin-left: -9%;
  width: 90%;
  font-size: 13px;
  color: #bebdbd;
}
.account__content .content__main .wysylka {
  margin-top: -5%;
}
.account__content .content__main .firma {
  width: 95%;
}
.account__content .content__main .firma input {
  margin-right: 5%;
  width: 95%;
  margin-top: 5%;
}
.account__content .content__main .firma .firma__hours {
  margin-top: 5%;
}
.account__content .content__main .firma .firma__hours .hours__title {
  color: #757575;
  font-size: 14px;
  font-weight: 300;
}
.account__content .content__main .firma .firma__hours select {
  margin-left: -15%;
  width: 80%;
  color: #757575;
  outline: none;
  border-bottom: 1px solid #dcdbdb;
}
.account__content .content__main .address {
  margin-top: -5%;
}
.account__content .content__main .address input {
  margin-top: 5%;
  width: 95%;
}
.account__content .content__user {
  width: 25%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__content .content__user .user__avatar {
  margin-top: 5%;
}
.account__content .content__user .user__avatar .avatar__edit {
  position: relative;
  top: -70%;
  left: -10%;
  z-index: 2;
  cursor: pointer;
}
.account__content .content__user .user__roles {
  margin-top: 3%;
  margin-left: -35%;
}
.account__content .content__user .user__roles .roles__checkbox {
  margin-top: 5%;
  width: 120%;
  margin-left: 25%;
}
.account__content .content__user .user__roles .roles__checkbox label {
  margin-left: 5%;
}
.account__content .content__user .user__rating {
  margin-top: 2%;
  margin-left: -35%;
}
.account__content .content__user .user__rating .rating__number {
  font-weight: 300;
  font-size: 100px;
  margin-top: 15%;
  margin-left: 81%;
}
.account__content .content__user .user__saveButton {
  margin-top: 10%;
  height: 60px;
  width: 60%;
  background: #15616D;
  color: #FFFFFF;
  font-size: 26px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 3px 5px 10px darkgray;
}
.account__content .content__user .user__saveButton:hover {
  width: 65%;
}
.account__content .content__user .user__deleteButton {
  margin-top: 3%;
  height: 30px;
  width: 60%;
  background: #670404;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 3px 5px 10px darkgray;
}
.account__content .content__user .user__deleteButton:hover {
  width: 63%;
}

/*# sourceMappingURL=index.css.map */
