* {
  padding: 0;
  margin: 0;
  border: 0;
}
html{
  overflow-x: hidden;
}
.content{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  .header-container{
    .header-info{
      width: 100%;
      height: 37px;
      background: rgba(51, 51, 51, 1);
      display: flex;
      flex-direction: row;
      .info-item{
        width: 10%;
        margin-top: 0.5%;
        a{
          margin-left: 9%;
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
          color: rgba(250, 250, 250, 1);
        }
      }
      .location{
        margin-left: 5%;
      }
      .email {
        margin-left: 5%;
      }
      .phone{
        margin-left: 5%;
      }
      .konto{
        margin-left: 40%;
      }
    }
    .header-main{
      height: 93px;
      border: 1px solid rgba(229, 229, 229, 1);
      width: 100%;
      display: flex;
      flex-direction: row;
      //justify-content: space-evenly;
      align-items: center;
      .logo-block{
        margin-left: 3%;
      }
      .catalog-block{
        margin-left: 5%;
        width: 7%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        .catalog-block-text{
          margin-left: 10%;
          text-decoration: none;
          color: rgba(51, 51, 51, 1);
          font-size: 16px;
          font-weight: 600;
        }
      }
      .wyprzedaz{
        margin-left: 1%;
        text-decoration: none;
        color: rgba(223, 90, 90, 1);
        font-size: 16px;
        font-weight: 600;
      }
      .search{
        margin-left: 8%;
        width: 35%;
        .input-field{
          width: 70%;
          border: 1px solid rgba(229, 229, 229, 1);
          border-radius: 2px;
          height: 35px;
          padding: 4px 6px 4px 6px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #B1B1B1;
        }
        .input-button{
          width: 15%;
          height: 45px;
          background: #15616D;
          border-radius: 2px;
          color: white;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .like-block{
        margin-left: 10%;
      }
      .cart-block{
        width: 10%;
        text-decoration: none;
        color: rgba(51, 51, 51, 1);
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .cart-price{
          font-size: 20px;
          font-weight: 400;
          line-height: 19px;
          color: #474A51;
        }
      }
    }
  }
  .main-page-styles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "Catalog main-body main-body"
    "Catalog palety palety"
    "footer footer footer";
    .catalog-bar{
      grid-area: Catalog;
      width: 55%;
      margin-left: 8%;
      margin-top: 3%;
      .catalog-title{
        margin-bottom: 5%;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #474A51;
      }
      .catalog-list{
        margin-left: 3%;
        .catalog-item{
          text-decoration: none;
          cursor: pointer;
          .item-block{
            width: 70%;
            margin-bottom: 3%;
            h3{
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #474A51;
            }
          }
          .item-block:hover{
            background: #CEDFE1;
            h3{
              color: #15616D;
            }
          }
        }
      }
    }
    .main-body{
      grid-area: main-body;
      display: flex;
      margin-left: -20%;
      margin-top: 2%;
      .head-img{
        position: relative;
        z-index: 1;
        //object-fit: cover;
      }
      .body-head{
        margin-top: 2%;
        margin-left: -10%;
        margin-right: 5%;
        position: relative;
        z-index: 2;
        .body-title{
          width: 120%;
          margin-left: -20%;
          margin-bottom: 3%;
          font-weight: 900;
          font-size: 48px;
          line-height: 48px;
          text-align: right;
          color: #474A51;
        }
        .body-description{
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          text-align: right;
          color: #474A51;
        }
        .body-button{
          margin-left: 60%;
          margin-top: 2%;
          width: 18%;
          height: 37px;
          background: #15616D;
          border: 1px solid #E5E5E5;
          border-radius: 2px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #FAFAFA;
        }
      }
    }
    .palety{
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: -22%;
      grid-area: palety;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 3% 0;
      grid-template-areas:
    "up-left up-left center up-right up-right"
    "down-left down-left center down-right down-right";
      .palet-item{
        width: 83%;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 1px;
        display: flex;
        justify-content: space-between;

        .item-info{
          margin-left: 4%;
          margin-top: 5%;
          .item-title{
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #474A51;
          }
          .item-descript{
            margin-top: 3%;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #828282;
          }
        }
        .item-img{
          object-fit: cover;
          max-width: 55%;
          max-height: 100%;
        }
        .center-image{
          max-width: 100%;
        }
      }
      .up-left { grid-area: up-left; }
      .down-left { grid-area: down-left; }
      .center {
        margin-left: -27%;
        grid-area: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
      }
      .up-right { grid-area: up-right; margin-left: -19%}
      .down-right { grid-area: down-right; margin-left: -19%}
    }

  }
}
